<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Generation</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"/>
        <td th:text="${car.model}"/>
        <td th:text="${car.generation}"/>
    </tr>
    </tbody>
</table>
</body>
</html>